registry = https://registry.npmjs.org
//registry.npmjs.org/:_authToken=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
@syc-lowcode:registry=https://nexus.sycdev.com/repository/npm-public/
@syc-saas:registry=https://nexus.sycdev.com/repository/npm-public/
